<div id="searchPanel" class="panel-block m-5">
    <p id="searchInput" class="control has-icons-right uk-iconnav">
        <input class="input" type="text" placeholder="Search for a task...">
        <span class="icon is-right uk-active">
            <i class="fas fa-search" aria-hidden="true"></i>
        </span>
    </p>
</div>