#todos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    transition: justify-content 0.3s ease-in-out;
}

aside.todo-card {
    display: block;
    max-width: 350px;
    margin: 1rem 0;
    flex: 0 0 auto;
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
    font-family: sans-serif;
    position: relative;
    cursor: pointer;
    border: 2px solid transparent;
}

aside.todo-card h3 {
    margin: 0 0 0.25rem 0;
    font-size: 1.25rem;
}

aside.todo-card p {
    margin: 0.5rem 0;
    line-height: 1.4;
}

.todo-status {
    font-weight: 600;
}

.completed {
    text-decoration: line-through;
    opacity: 0.7;
}

.icon {
    position: absolute;
    padding: 8px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: border 0.2s;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
}

.icon:hover {
    border: 1px solid black;
}

.del-icon {
    top: 0;
    right: 0;
}

.todo-card:hover:not(:has(.del-icon:hover, .edit-icon:hover)) {
    border: 2px solid black;
}

.edit-icon {
    bottom: 0;
    right: 0;
}

.completed {
    text-decoration: line-through;
    opacity: 0.7;
}

.todo-title {
    white-space: normal;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.todo-card .icon {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.todo-card:hover .icon {
    opacity: 1;
}