#add-btn:hover {
    cursor: pointer;
}

#taskForm {
    display: flex;
    justify-content: center;
    align-items: center;
}

#addInputDiv {
    width: 80%;
    margin: auto;
}

.task {
    margin: 0;
    cursor: text;
    width: 100%;
}

#contentInput {
    border-radius: 4px;
}

#searchPanel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px 0 8px 0;
    padding-top: 10px;
    padding-bottom: 22px;
}

#searchInput {
    width: 80%;
    flex-grow: unset;
}

.total-first {
    margin-bottom: 0;
}

.overline {
    text-decoration-line: line-through;
    text-decoration-thickness: 2px;
}

.button.is-circle {
    border-radius: 50%;
    padding: 0;
    width: 35px;
    height: 35px;
}

.anim-fade-out.htmx-swapping {
    opacity: 0;
    transition: opacity 0.4s ease-out;
}