<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    <title>{% block title %}{{ title }}{% endblock title %} - Listem</title>
    <script src="/static/js/lib/htmx.min.js"></script>
    <script>
      document.documentElement.setAttribute(
        "data-theme",
        localStorage.getItem("theme") || "dark"
      );
    </script>
    <script src="/static/js/theme.js" defer></script>
    <link
      rel="stylesheet"
      href="/static/css/lib/pico.min.css"
      type="text/css"
    />
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" />
    <link rel="icon" href="/static/images/favicon.ico" sizes="48x48" />
    <link rel="icon" href="/static/images/favicon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/static/images/apple-touch-icon.png" />
    <link rel="manifest" href="/static/images/site.webmanifest" />
    <meta charset="utf-8" />
    <meta name="description" content="My description" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <main class="container-fluid">
      <header class="container-fluid">
        <nav>
          <ul>
            <a href="/">
              <li><strong>Listem</strong></li>
            </a>
          </ul>
          <ul>
            <li><a href="/todolist">Todolist</a></li>

            <li><a href="/about">About</a></li>

            <li><span id="theme-switch" class="theme-switch" role="switch" aria-checked="false" aria-label="Toggle theme"></span></li>
          </ul>
        </nav>
      </header>
      <div class="container main-content">
        {% block content %}
        <p>Placeholder content</p>
        {% endblock content %}
      </div>
      <footer class="footer">
        <hr />
        <div class="footer-content">
          {% block footer %}
          <small>made with ❤️ by dfayd</small>
          <small>⭐ me on github</small>
          {% endblock footer %}
        </div>
      </footer>
    </main>
  </body>
</html>
