<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{{ title }}{% endblock title %} - Listem</title>
    <script src="/static/js/lib/htmx.min.js"></script>
    <link rel="stylesheet" href="/static/css/mvp.css" type="text/css">
    <link rel="icon" href="https://via.placeholder.com/70x70">
    <meta charset="utf-8">
    <meta name="description" content="My description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div id="content">
    <header>
        <nav>
            <a href="/"><img alt="Logo" src="/static/logo.png" height="35"></a>
            <ul>
                <li><a href="/todolist">Todolist</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
    </header>
      {% block content %}<p>Placeholder content</p>{% endblock content %}
    </div>
  </body>
</html>