<form hx-post="/edit/{{ todo.id }}" hx-target="this" hx-swap="outerHTML">
  <aside
    class="todo-card {% if todo.completed %}completed{% endif %}"
    data-todo-id="{{ todo.id }}"
  >
    <img
      hx-delete="/delete_todo/{{ todo.id }}"
      hx-target="closest .todo-card"
      hx-swap="outerHTML"
      src="/static/icons/x.svg"
      class="icon del-icon"
      alt="Close Icon"
      onclick="event.stopPropagation()"
    />

    <input type="hidden" name="id" value="{{ todo.id }}" />
    <input type="hidden" name="completed" value="{{ todo.completed }}" />

    <input
      type="text"
      name="title"
      value="{{ todo.title }}"
      class="todo-title {% if todo.completed %}completed{% endif %}"
      onclick="event.stopPropagation()"
      required
    />

    <select name="importance">
        <option value="low" {% if todo.importance == "low" %}selected{% endif %}>Low</option>
        <option value="medium" {% if todo.importance == "medium" %}selected{% endif %}>Medium</option>
        <option value="high" {% if todo.importance == "high" %}selected{% endif %}>High</option>
    </select>

    <textarea name="description" onclick="event.stopPropagation()" required>
{{ todo.description }}
</textarea>

    <small class="todo-date"> {{ todo.created_at }} </small>

    <img
      src="/static/icons/check-circle.svg"
      alt="Edit Icon"
      class="icon edit-icon"
      onclick="this.closest('form').requestSubmit(); event.stopPropagation();"
    />
  </aside>
</form>
