{% extends "base.html" %} {% block title %}Home{% endblock title %} {% block
content %}

<h1>Todolist made <i>elegant</i> and <u>Simple</u></h1>
<p>
  built with <mark><u>Rust</u> + <u>HTMX</u></mark>
</p>
<br />
<p>
  <a href="/about">
    <button class="secondary">
      More about {{ name }}</i>
    </button>
  </a>
  <a href="/todolist">
    <button class="outline">
      <b>Let's Start Doing</b>
    </button>
  </a>
</p>

{% endblock content %}

{% block footer %}
<small>made with ❤️ by dfayd</small>
<small>⭐ me on github</small>
{% endblock footer %}