{% extends "base.html" %} {% block title %}Todolist{% endblock title %} {% block
content %}

<div id="toolbar">
  <input
    id="todo-search"
    placeholder="search.."
    class="input search-input"
    type="text"
  />
  <div>
    <input id="checkbox" type="checkbox" />
    <label
      class="switch"
      for="checkbox"
      data-tooltip="Display completed tasks"
      data-placement="right"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512 512"
        class="slider"
      >
        <path
          d="M288 32c0-17.7-14.3-32-32-32s-32 14.3-32 32V256c0 17.7 14.3 32 32 32s32-14.3 32-32V32zM143.5 120.6c13.6-11.3 15.4-31.5 4.1-45.1s-31.5-15.4-45.1-4.1C49.7 115.4 16 181.8 16 256c0 132.5 107.5 240 240 240s240-107.5 240-240c0-74.2-33.8-140.6-86.6-184.6c-13.6-11.3-33.8-9.4-45.1 4.1s-9.4 33.8 4.1 45.1c38.9 32.3 63.5 81 63.5 135.4c0 97.2-78.8 176-176 176s-176-78.8-176-176c0-54.4 24.7-103.1 63.5-135.4z"
        ></path>
      </svg>
    </label>
  </div>
</div>

<section>
  <div id="todos">
    {% for todo in todos %} {% include "todo.html" %} {% endfor %}
  </div>
</section>

<section>
  <hr />
  <form
    id="todo-form"
    hx-post="/add_todo"
    hx-target="#todos"
    hx-swap="beforeend"
    hx-on::after-request="if(event.detail.successful) this.reset()"
  >
    <fieldset>
      <label for=" todo">What would you like to get done?</label>
      <input
        name="title"
        type="text"
        size="20"
        placeholder="it could be anything.."
        class="input"
      />
      <label for="value">How important is it?</label>
      <select id="importance" name="importance">
        <option value="low">low</option>
        <option value="medium">medium</option>
        <option value="high">high</option>
      </select>
      <label for="description">Description</label>
      <textarea
        cols="20"
        rows="4"
        name="description"
        placeholder="(optional)"
        class="input"
      ></textarea>
    </fieldset>
    <button class="outline" id="todo-submit" type="submit">Create</button>
  </form>
</section>

<script src="/static/js/search.js"></script>
<script src="/static/js/display-completed.js"></script>

{% endblock content %}
