<aside
  class="todo-card {% if todo.completed %} completed{% endif %}"
  data-todo-id="{{ todo.id }}"
  hx-put="/toggle_todo/{{ todo.id }}"
  hx-target="closest .todo-card"
  hx-swap="outerHTML"
>
  <img
    hx-delete="/delete_todo/{{ todo.id }}"
    hx-target="closest .todo-card"
    hx-swap="outerHTML"
    src="/static/icons/x.svg"
    class="icon del-icon"
    alt="Close todo Icon"
    onclick="event.stopPropagation()"
  />

  <img
    hx-put="/edit_form/{{ todo.id }}"
    hx-target="[data-todo-id='{{ todo.id }}']"
    hx-swap="outerHTML"
    src="/static/icons/edit-2.svg"
    class="icon edit-icon"
    alt="Edit todo Icon"
    onclick="event.stopPropagation()"
  />

  <h3 class="todo-title {% if todo.completed %}completed{% endif %}">
    {{ todo.title }}
    <sup class="importance-{{ todo.importance }}">{{ todo.importance }}</sup>
  </h3>

  <p>
    {% if todo.description == "" %}<small>-- no description provided</small>{%
    endif %}{{ todo.description }}
  </p>

  <small class="todo-date"> {{ todo.created_at }} </small>
</aside>
