{% extends "base.html" %}

{% block title %}Todolist{% endblock title %}

{% block content %}

{# <section>
    <h2>My todos</h2>
</section> #}

<section>
    <div id="todos">
        {% for todo in todos %}
        {% include "todo.html" %}
        {% endfor %}
    </div>
</section>

<hr>
<section>

    <form hx-post="/add_todo" hx-target="#todos" hx-swap="beforeend">

        <label for="todo">What would you like to get done?</label>
        <input name="title" type="text" id="add-todo" size="20" placeholder="it could be anything.." required>
        <label for="value">How important is it?</label>
        <select id="importance" name="importance">
            <option value="low">low</option>
            <option value="medium">medium</option>
            <option value="high">high</option>
        </select>
        <label for="description">Description</label>
        <textarea cols="20" rows="4" id="description" name="description" placeholder="(optional)"></textarea>
        <button type="submit">Create</button>
    </form>

</section>


{% endblock content %}