<div
  class="unique-card {% if todo.completed %}completed{% endif %}"
  data-todo-id="{{ todo.id }}"
  hx-get="/edit_form/{{ todo.id }}"
  hx-target="this"
  hx-swap="outerHTML"
>
  <div class="background-overlay"></div>
  <div class="card-content">
    <div class="card-title">{{ todo.title }}</div>
  </div>
  <label
    class="checkbox-container"
    hx-put="/toggle_todo/{{ todo.id }}"
    hx-trigger="change"
    hx-target="closest .unique-card"
    hx-swap="outerHTML"
    hx-on:click="event.stopPropagation()"
  >
    <input
      type="checkbox"
      {% if todo.completed %}checked="checked"{% endif %}
    />
    <div class="checkmark"></div>
  </label>
</div>
